{{#if posts}} 
     <div class="divCenter">
          {{#each posts}}
          <div class="divSize">
          <p>{{datetime}}</p>
          <h3>{{status}}</h3>
     </div>
     {{/each}} 
     </div>
{{/if}}